<form id="login-form" class="form-stacked" action="{% url login %}" method="POST" autocomplete="off">
  {% csrf_token %}
  <fieldset>
    <legend>Login</legend>
    <div class="clearfix {% if form.errors.email %}error{% endif %}">
      <input type="text" class="span55" id="field_email" name="email" value="{{ form.data.email }}" placeholder="Email anddress"/>
      {% if form.errors.email %}
        <span class="help-inline">{{ form.errors.email.as_text }}</span>
      {% endif %}
    </div>
    <div class="clearfix">
      <input type="password" class="span55" id="field_password" name="password" value="{{ form.data.password }}" placeholder="Password"/>
    </div>
    <div class="clearfix">
      <button type="submit" class="btn primary">Login</button>
    </div>
  </fieldset>
</form>
