{% load static_includes %}
<html>
  <head>
    <meta charset="utf-8"> 
    <meta name="description" content=""> 
    <meta name="author" content="">

    <title>{% block title %}Timeshit{% endblock %}</title>
    {% javascript_include_tag 'jquery-1.6.4.min' %}
    {% javascript_include_tag 'jquery.form' %}
    {% javascript_include_tag 'jquery.validate.min' %}
    {% javascript_include_tag 'jquery.timeshitform' %}

    {% javascript_include_tag 'config' %}
    {% javascript_include_tag 'signals.min' %}
    {% javascript_include_tag 'hasher.min' %}
    {% javascript_include_tag 'bootstrap-alerts' %}
    {% javascript_include_tag 'bootstrap-modal' %}

    {% javascript_include_tag 'routes' %}
    {% javascript_include_tag 'application' %}
    {% javascript_include_tag 'clients' %}
    {% javascript_include_tag 'projects' %}
    {% javascript_include_tag 'tasks' %}

    {% stylesheet_include_tag 'bootstrap' %}
    {% stylesheet_include_tag 'prettify' %}
    {% stylesheet_include_tag 'application' %}
  </head>
  <body>
    {% block navigation %}
    {% endblock %}
    
    {% block content %}
    {% endblock %}
  </body>
</html>

