{% extends "base.html" %}
  
{% block title %}Timeshit{% endblock %}

{% block navigation %}
  <div class="topbar" data-dropdown="dropdown">
    <div class="topbar-inner">
      <div class="container">
        <a class="brand" href="#">Timeshit</a>
        <ul class="nav">
          <li><a href="#!/import/">Import data</a></li>
          <li><a href="#!/export/">Export records</a></li>
          <li><a href="#!/clients/">Clients</a></li>
          <li><a href="#!/projects/">Projects</a><li>
          <li><a href="#!/tasks/">Tasks</a></li>
          <li><a href="#!/records/">Records</a></li>
          <li><a href="#!/overview/">Overview</a></li>
          <li><a href="#!/about/">About</a></li>
          <li><a id="logout" href="{% url logout %}">Logout</a></li>
        </ul>
      </div>
    </div>
  </div>
{% endblock %}

{% block content %}
{% include "timer.html" %}
{% endblock %}
