{% load static_includes %}
<div id="timer-wrapper">
  <div id="timer-head">
    <div id="timer-title">Daily records</div>
    <div id="timer-time">03:08</div>
    <div id="timer-current-time">09/24/2011 10:51:23 PM</div>
  </div>
  <div id="timer-body">
    <div class="clearfix">
      <select name="client">
      {% for client in clients %}
        <option value="{{ client.id }}">{{ client.name }}</option>
      {% endfor %}
      </select>
      <a href="#!/clients/new/" class="add-object">+</a>
    </div>
    <div class="clearfix">
      <select name="project">
      {% for project in projects %}
        <option value="{{ project.id }}" client="{{ project.client.id }}">
          {{ project.name }}
        </option>
      {% endfor %}
      </select>
      <a href="#!/clients/new/" class="add-object">+</a>
    </div>
    <div class="clearfix">
      <select name="task">
        <option value="0">Ticket #123</option>
        <option value="">Add task...</option>
      </select>
      <a href="#!/tasks/new/" class="add-object">+</a>
    </div>
    <div class="clearfix">
      <button id="timer-startstop" class="btn large primary">Start</button>
    </div>
  </div>
</div>

