<div id="clients-wizard" class="modal fade in">
  <div class="modal-header">
    <a href="#" class="close">×</a>
    <h3>Clients</h3>
  </div>
  <div class="modal-body">
    <table id="clients-index">
      <tr>
        <td class="name">Okapi</td>
        <td class="client__actions">
          <a class="blue" href="#!/clients/1/" title="View">V</a>
          <a class="green" href="#!/clients/1/edit" title="Edit">E</a>
          <a class="red" href="#!/clients/1/delete" title="Delete">D</a>
        </td>
      </tr>
    </table>
  </div>
  <div class="modal-footer">
    <a href="#!/clients/new" class="btn primary">Add</a>
  </div>
</div>
